ETCD_DATA_DIR=/var/lib/etcd
ETCD_ADVERTISE_CLIENT_URLS=https://{{ etcd_access_address }}:2379,https://{{ etcd_access_address }}:4001
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_peer_url }}
ETCD_INITIAL_CLUSTER_STATE=new

ETCD_METRICS=basic
ETCD_LISTEN_CLIENT_URLS=https://{{ etcd_access_address }}:2379,https://{{ etcd_access_address }}:4001,https://127.0.0.1:2379,https://127.0.0.1:4001
ETCD_ELECTION_TIMEOUT=5000
ETCD_HEARTBEAT_INTERVAL=250
ETCD_INITIAL_CLUSTER_TOKEN=k8s_etcd
ETCD_LISTEN_PEER_URLS=https://{{ etcd_access_address }}:2380
ETCD_NAME={{ etcd_member_name }}
ETCD_PROXY=off
ETCD_INITIAL_CLUSTER={{ etcd_peer_addresses }}
ETCD_AUTO_COMPACTION_RETENTION=8

# TLS settings
ETCD_TRUSTED_CA_FILE=/etc/ssl/etcd/ssl/ca.pem
ETCD_CERT_FILE=/etc/ssl/etcd/ssl/server.pem
ETCD_KEY_FILE=/etc/ssl/etcd/ssl/server-key.pem
ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/etcd/ssl/ca.pem
ETCD_PEER_CERT_FILE=/etc/ssl/etcd/ssl/peer.pem
ETCD_PEER_KEY_FILE=/etc/ssl/etcd/ssl/peer-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true
