{
    "exec-opts": ["native.cgroupdriver=systemd"],
    "registry-mirrors": ["https://registry.docker-cn.com"],
    "max-concurrent-downloads": 10,
    "storage-driver": "overlay",
{% if insecure_registries is defined %}
    "insecure-registries": [{% for registry in insecure_registries %}"{{ registry }}"{% if not loop.last %},{% endif %}{% endfor %}],
{% endif %}
    "log-level": "warn",
    "log-driver": "json-file",
    "log-opts": {
      "max-size": "10m",
      "max-file": "3"
    }
}