{
    "exec-opts": ["native.cgroupdriver=systemd"],
    "max-concurrent-downloads": 10,
{% if insecure_registries is defined %}
    "insecure-registries": [{% for registry in insecure_registries %}"{{ registry }}"{% if not loop.last %},{% endif %}{% endfor %}],
{% endif %}
    "log-level": "warn",
    "log-driver": "json-file",
    "data-root": "{{ docker_storage_dir }}",
    "log-opts": {
      "max-size": "10m",
      "max-file": "3"
    }
}